[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "dendrometeR"]
	path = dendrometeR
	url = https://github.com/smiljanicm/dendrometer
